body {
	font-family: sans-serif;
}

.form {
	border: 1px solid #1a1919;
	border-radius: 6px;
	max-width: 300px;
	padding: 20px;
}

.form-group {
	border: none;
	padding: 0;
}

.form-group-title {
	font-weight: 700;
	padding: 0;
	margin-bottom: 10px;
}

.label {
	display: block;
	margin-bottom: 5px;
}

.input,
.text {
	min-width: 250px;
	padding: 5px 10px;
	margin-bottom: 10px;
	border: 1px solid #1a1919;
	border-radius: 6px;
}

.text {
	resize: vertical;
	max-height: 100px;
	min-height: 30px;
}

.checkdox {
	cursor: pointer;
}

.span {
	box-sizing: 14px;
}

.button {
	border: none;
	border-radius: 6px;
	padding: 5px 15px;
	cursor: pointer;
}
